<aside>
  <div class="btn-group">
    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown"
      aria-expanded="false">
      Car Make
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Acura</a></li>
      <li><a class="dropdown-item" href="#">Alfa-Romeo</a></li>
      <li><a class="dropdown-item" href="#">Aston-Martin</a></li>
      <li><a class="dropdown-item" href="#">Audi</a></li>
      <li><a class="dropdown-item" href="#">Bentley</a></li>
    </ul>
  </div>
  <div class="btn-group">
    <button class="btn btn-secondary btn-sm" type="button">
      Car Model
    </button>
    <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split"
      data-bs-toggle="dropdown" aria-expanded="false">
      <span class="visually-hidden">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">ILX</a></li>
      <li><a class="dropdown-item" href="#">MDX</a></li>
      <li><a class="dropdown-item" href="#">NSX</a></li>
      <li><a class="dropdown-item" href="#">RDX</a></li>
      <li><a class="dropdown-item" href="#">RLX</a></li>
      <li><a class="dropdown-item" href="#">Giulia</a></li>
      <li><a class="dropdown-item" href="#">DB11</a></li>
      <li><a class="dropdown-item" href="#">DB9</a></li>
      <li><a class="dropdown-item" href="#">DBX</a></li>
      <li><a class="dropdown-item" href="#">DBS</a></li>
      <li><a class="dropdown-item" href="#">A5</a></li>
      <li><a class="dropdown-item" href="#">R8</a></li>
      <li><a class="dropdown-item" href="#">Mulsanne</a></li>
      <li><a class="dropdown-item" href="#">Flying Spur</a></li>
      <li><a class="dropdown-item" href="#">Bentayga</a></li>
    </ul>
  </div>
</aside>