<div class="dropdown">
  {{!-- <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
    aria-expanded="false">
    Car Make and Model
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Acura ILX</a>
    <a class="dropdown-item" href="#">Acura MDX</a>
    <a class="dropdown-item" href="#">Acura NSX</a>
    <a class="dropdown-item" href="#">Alfa-Romeo Giulia</a>
    <a class="dropdown-item" href="#">Alfa-Romeo Stelvio</a>
    <a class="dropdown-item" href="#">Aston-Martin Vantage</a>
    <a class="dropdown-item" href="#">Aston-Martin DB11</a>
    <a class="dropdown-item" href="#">Aston-Martin DB9</a>
  </div> --}}
  <label for="post-title">Choose Car Make and Model:</label>
<select name="post-title" id="post-title">
    <option value="Acura ILX">Acura ILX</option>
    <option value="Acura MDX">Acura MDX</option>
    <option value="Acura NSX">Acura NSX</option>
    <option value="Alfa-Romeo Giulia">Alfa-Romeo Giulia</option>
    <option value="Alfa-Romeo Stelvio">Alfa-Romeo Stelvio</option>
    <option value="Aston-Martin Vantage">Aston-Martin Vantage</option>
    <option value="Aston-Martin DB11">Aston-Martin DB11</option>
    <option value="Aston-Martin DB9">Aston-Martin DB9</option>

</select>
</div>
