
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{!-- title --}}
  <title>CarEz</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
{{!-- navbar --}}
<body class="flex-column min-100-vh">
  <nav class="navbar">
    <ul>
      <li class="li-inline nav-item"><a href="/">Home</a></li>
      <li class="li-inline nav-item"><a href="/dashboard">Dashboard</a></li>
      <li class="li-inline nav-item"><a href="/login">Login</a></li>
      <li class="li-inline nav-item"><a href="/logout">Logout</a></li>
    </ul>
  </nav>
  {{!-- header/title --}}
  <header class="hero">
    <h1 class="app-title"><a href="/">CarEz</a></h1>
  </header>
{{!-- body --}}
  <main class="col-auto">
    {{{body}}}
  </main>
{{!-- footer --}}
  <footer class="flex-row justify-center">
    &copy; CarEz Inc.
  </footer>
</body>

</html>
<script src="/js/logout.js"></script>
