<div class="post card">
  <div class="card-header">
    <h2>Edit Post</h2>
  </div>
  <form id="edit-post-form" class="card-body">
    <input type="hidden" id="post-id" name="post-id" value="{{post.id}}" />

{{!-- edit post body --}}
    <label class="form-label" for="post-body">Content</label>
    <textarea name="post-body" class="form-input">{{post.body}}</textarea>

{{!-- update button --}}
    <button type="submit" class="update-btn">Update</button>

{{!-- delete button --}}
    <button type="button" id="delete-btn" class="btn">Delete</button>
  </form>
</div>

<script src="/js/deletePost.js"></script>
<script src="/js/updatePost.js"></script>
