<div class="post card">
  <div class="card-header">
    <h2>Create New Post</h2>
  </div>


  {{!-- new post title --}}
  <form id="new-post-form" class="card-body">
    <div id="post_title">
      {{>search}}
    </div>
    {{!-- body --}}
    <label class="form-label" for="post-body">Content</label>
    <textarea name="post-body" id= "new-post-content" class="form-input"></textarea>
    {{!-- create button --}}
    <button id="create"type="submit" class="btn">Create</button>
  </form>
</div>

<script src="/js/post.js"></script>