/* Google Font Link
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap'); */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}

#loginForm{
  width: 25%;
  display: block;
  justify-content: center;
  margin: 0 auto;
  margin-top: 5%;
}

#signUpForm{
  width: 25%;
  display: block;
  justify-content: center;
  margin: 0 auto;
  margin-top: 5%;
}

#loginsignuph1{
  text-align: center;
  margin-top: 5%;
}

body {
  height: 3000px;
 background: linear-gradient(55deg, #636363 0%, #d0d0d0 51%, #eeeded 85%); 
}

.card{
  opacity: .7;
  background-color: white;
  margin: 0 auto;
  margin-bottom: 2%;
  margin-top: 2%;
  width: 75%;
  justify-content: center;
  display: block;
  border: rgb(116, 116, 116) 1px solid;
}

.carSilhouette{
  max-width: 100%;
  opacity: 0.2;
  position: absolute;
  margin-top: 7%;
}

.info{ 
  width: 75%;
  position: relative;
  margin: 0 auto;
  margin-top: 2%;
  font-size: large;

}